{% load static %}
<link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Soma-Dogs{% endblock %}</title>
    <style>
        base.css
    </style>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Soma-Dogs</h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li><a href="{% url 'products' %}">Товари</a></li>
                <li><a href="{% url 'services' %}">Послуги</a></li>
                <li><a href="{% url 'projects' %}">Наші проекти</a></li>
                <li><a href="{% url 'contact' %}">Контакти</a></li>
                <li><a href="{% url 'about' %}">Про нас</a></li>
            </ul>
        </nav>
        
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; 2025 Soma-Dogs - Магазин для тварин</p>
        <p>Розроблено Павлюком Владиславом, 22-іст ТФК ЛНТУ</p>
    </footer>
</body>
</html>
