{% extends 'main_app/base.html' %}

{% block content %}
    <div>
        <p>Ласкаво просимо на наш магазин для тварин!</p>
        <p>Виберіть одну з наступних сторінок щоб перейти на них:</p>
        
        <ul>
            <li><a href="{% url 'about' %}">Про нас</a> - Дізнайтеся більше про наш проект</li>
            <li><a href="{% url 'services' %}">Послуги</a> - Перегляньте наші послуги</li>
            <li><a href="{% url 'projects' %}">Проекти</a> - Наші нінші проекти</li>
            <li><a href="{% url 'contact' %}">Контакти</a> - Зв'яжіться з нами</li>
        </ul>
    </div>
{% endblock %}